.testimonials {
    display: flex;
    background-color: #F4CE14;
}
.testimonials h1 {
    color: #495E57
}
.testimonials h2, p{
    color: #333333;
}
.about {
    display: flex;
    background-color: #495E57;
    color: #EDEFEE;
}
.about h1 {
    color: #F4CE14;
}
.about p{
    color: #EDEFEE
}