footer {
    background-color: #edefee;
    font-family:"Karla", sans-serif;
    font-size: 18pt;
    list-style-type: none;
}
.footer-container {
    display: grid;
    grid-template-columns: 30%, 30%, 30%;
    gap: 20px;
    
}

footer p {
    font-size: 20pt;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {}