footer {
    display: flex;
    background-color: #edefee;
    font-family:"Karla", sans-serif;
    font-size: 18pt;
}
footer ul{
    display: grid;
    list-style-type: none;
}
footer p {
    font-size: 20pt;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {}