.navigation{
    display: grid;
    background-color: #edefee;
    font-family:"Karla", sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
.navigation ul {
    display: grid;
}
.navigation ul li{
    padding: 0, 20px;
}
.navigation ul li Link {
    font-size: medium;
}
.navigation ul li Link.hover {
    color: #EE9972;
}
.navigation ul li Link.active {
    color: #FBDABB;
}
@media screen and (max-width: 1024px) {
    .navigation {
        display: none;
    }
}