.navigation{
    display: flex;
    background-color: #edefee;
    font-family:"Karla", sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
.navigation ul {
    display: flex;
    list-style-type: none;
}
.navigation ul li{
    padding: 0, 20px;
}
.navigation ul li {
    font-size: medium;
}
.navigation ul li:hover {
    color: #EE9972;
}
.navigation ul li:active {
    color: #FBDABB;
}
@media screen and (max-width: 1024px) {
    .navigation {
        display: none;
    }
}